<app-search></app-search>
<ul>
  <li *ngFor="let food of foods">
    <a>
      <img src="{{ food.imageUrl }}" alt="" />
      <div class="content">
        <div class="name">
          <span class="favorite {{ food.favorite ? '' : 'not' }}"> ❤ </span>
          {{ food.name }}
        </div>

        <app-rating-component [value]="food.stars" (rate)="onRate(food, $event)">
        </app-rating-component>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">{{ origin }}</span>
          </div>
          <div class="cook-time">
            <span> ⏱ </span>
            {{ food.cookTime }}
          </div>
          <div class="price">
            <span> 💲 </span>
            {{ food.price }}
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
